* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited, a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

img {
  height: auto;
  max-width: 100%;
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
}

address {
  font-style: normal;
}

.link {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71429;
  color: var(--text-primary-color);
  background-color: var(--primary-bg-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

:root {
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --title-primary-color: #212121;
  --title-accent-color: #ffffff;
  --text-primary-color: #757575;
  --accent-color: #2196f3;
  --address-text-color: #ffffff99;
  --footer-bg-color: #2f303a;
  --hover-btn-color: #188ce8;
  --card-gap: 30px;
  --animation-cube: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-timer: 250ms;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.link {
  color: var(--text-primary-color);
  transition: color var(--animation-timer) var(--animation-cube);
}

.link:focus, .link:hover {
  color: var(--accent-color);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background-color: var(--primary-bg-color);
  border-radius: 4px;
  transition: transform var(--animation-timer) var(--animation-cube);
}

.modal__button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-bg-color);
  cursor: pointer;
}

.modal__button:hover .modal__icon-close,
.modal__button:focus .modal__icon-close {
  fill: var(--accent-color);
}

.modal__icon-close {
  width: 18px;
  height: 18px;
  fill: currentColor;
  transition: fill var(--animation-timer) var(--animation-cube);
}

.modal-form {
  padding: 40px;
}

.modal-form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-primary-color);
  margin-bottom: 12px;
}

.modal-form__field {
  margin-bottom: 10px;
}

.modal-form__label {
  display: block;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.01em;
  color: var(--text-primary-color);
  margin-bottom: 4px;
}

.modal-form__icon-wrapper {
  display: flex;
  position: relative;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px 12px 42px;
  transition: border var(--animation-timer) var(--animation-cube);
}

.modal-form__input:focus, .modal-form__input:hover {
  border: 1px solid var(--accent-color);
}

.modal-form__input:focus + .modal-form__icon-input,
.modal-form__input:hover + .modal-form__icon-input {
  fill: var(--accent-color);
}

.modal-form__icon-input {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--title-primary-color);
  transition: fill var(--animation-timer) var(--animation-cube);
}

.modal-form__checkbox:checked + .checkbox__description .checkbox__wrapper {
  background-color: var(--accent-color);
  fill: var(--primary-bg-color);
  border: none;
}

.modal-form__checkbox-link {
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196f3;
}

.modal-form__button {
  margin: 0 auto;
  margin-top: 30px;
  padding-right: 52px;
  padding-left: 52px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--animation-timer) var(--animation-cube);
}

.modal-form__button:hover {
  background-color: var(--hover-btn-color);
}

.input-area {
  height: 120px;
  padding: 12px 16px;
  resize: none;
}

.input-area::placeholder {
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox__description {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border: 1px solid var(--title-primary-color);
  border-radius: 2px;
  margin-right: 7px;
  fill: transparent;
  transition: background-color var(--animation-timer) var(--animation-cube), fill var(--animation-timer) var(--animation-cube), border var(--animation-timer) var(--animation-cube);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19231;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo:focus, .logo:hover {
  color: var(--accent-color);
}

.logo:focus .logo_accent, .logo:hover .logo_accent {
  color: var(--accent-color);
}

.logo,
.logo_accent {
  transition: color var(--animation-timer) var(--animation-cube);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--animation-timer) var(--animation-cube);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.section {
  padding: 94px 0;
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  color: var(--title-primary-color);
  text-align: center;
  margin-bottom: 50px;
}

.overlay-text {
  font-size: 18px;
  line-height: 1.55556;
  letter-spacing: 0.03em;
  color: var(--title-accent-color);
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  opacity: 0;
  transform: translateY(100%);
  transition: transform var(--animation-timer) var(--animation-cube);
}

.button {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--title-accent-color);
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  border-radius: 4px;
  background-color: var(--accent-color);
}

.header {
  outline: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo_accent {
  color: #000000;
}

.header__contacts-items {
  display: flex;
  margin-left: auto;
}

.header__contacts-item:not(:last-child) {
  margin-right: 30px;
}

.header__contacts-link {
  display: inline-flex;
  align-items: center;
  padding: 32px 0;
  font-weight: 500;
  line-height: 1.14286;
  letter-spacing: 0.02em;
}

.header__contact-icon {
  fill: currentColor;
  margin-right: 10px;
}

.header-nav {
  margin-left: 95px;
}

.header-nav__items {
  display: flex;
}

.header-nav__item:not(:last-child) {
  margin-right: 50px;
}

.header-nav__link {
  font-weight: 500;
  line-height: 1.14286;
  color: var(--title-primary-color);
  padding: 32px 0;
}

.header-nav__link_current {
  position: relative;
  color: var(--accent-color);
}

.header-nav__link_current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  padding: 200px 0;
  text-align: center;
  background-color: #c4c4c4;
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/home/hero-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__title {
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--title-accent-color);
}

.hero__button {
  margin: 0 auto;
  padding: 10px 32px;
  transition: background-color var(--animation-timer) var(--animation-cube);
}

.hero__button:hover {
  background-color: var(--hover-btn-color);
}

.advantages__items {
  display: flex;
  justify-content: space-around;
  margin: 0 -15px;
}

.advantages__item {
  width: 270px;
  margin: 0 15px;
}

.advantages__img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--secondary-bg-color);
  background-position: center;
}

.advantages__item-title {
  font-weight: 700;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  color: var(--title-primary-color);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantages__item-text {
  line-height: inherit;
  letter-spacing: 0.03em;
}

.service {
  padding: 0 0 94px;
}

.service__items {
  display: flex;
  justify-content: space-between;
}

.service__thumb {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.service__description {
  position: absolute;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-accent-color);
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--secondary-bg-color);
}

.team__items {
  display: flex;
  justify-content: space-between;
}

.team__item {
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-inner {
  padding: 30px 32px;
}

.team-inner__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: var(--title-primary-color);
  text-align: center;
  margin-bottom: 10px;
}

.team-inner__description {
  line-height: inherit;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}

.team-inner__items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-items__item:not(:last-child) {
  margin-right: 10px;
}

.social-items__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  transition: background-color var(--animation-timer) var(--animation-cube), color var(--animation-timer) var(--animation-cube), border-radius var(--animation-timer) var(--animation-cube);
}

.social-items__link:hover, .social-items__link:focus {
  border-radius: 50%;
  background-color: var(--accent-color);
  color: var(--secondary-bg-color);
}

.social-items__icon {
  fill: currentColor;
}

.social-items__icon:hover, .social-items__icon:focus {
  fill: currentColor;
}

.clients__items {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-gap));
  margin-top: calc(-1 * var(--card-gap));
}

.clients__item {
  flex-basis: calc(100% / 6 - var(--card-gap));
  margin-left: var(--card-gap);
  margin-top: var(--card-gap);
}

.clients__link {
  display: inline-flex;
  padding: 14px 30px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color var(--animation-timer) var(--animation-cube), border-color var(--animation-timer) var(--animation-cube);
}

.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-color);
}

.clients__logo {
  fill: currentColor;
}

.filter__items {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-primary-color);
  background-color: var(--secondary-bg-color);
  padding: 6px 22px;
  transition: box-shadow var(--animation-timer) var(--animation-cube), color var(--animation-timer) var(--animation-cube), background-color var(--animation-timer) var(--animation-cube);
}

.filter__button:hover, .filter__button:focus, .filter__button_current {
  color: var(--title-accent-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.product__items {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-gap));
  margin-top: calc(-1 * var(--card-gap));
}

.product__card {
  flex-basis: calc(100% / 3 - var(--card-gap));
  margin-left: var(--card-gap);
  margin-top: var(--card-gap);
}

.product__link {
  transition: box-shadow var(--animation-timer) var(--animation-cube);
}

.product__link:hover, .product__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product__link:hover .product__thumb::before,
.product__link:focus .product__thumb::before,
.product__link:hover .overlay-text,
.product__link:focus .overlay-text {
  opacity: 1;
  transform: translateY(0);
}

.product__thumb {
  position: relative;
  overflow: hidden;
}

.product__thumb::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  transition: transform var(--animation-timer) var(--animation-cube);
}

.product__content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.product__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-primary-color);
  margin-bottom: 4px;
}

.product__category {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}

.footer {
  padding: 60px 0;
  background-color: var(--footer-bg-color);
}

.footer__wrapper {
  display: flex;
  align-items: flex-start;
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__logo_accent {
  color: var(--title-accent-color);
}

.footer__contacts-item {
  letter-spacing: 0.03em;
  color: var(--address-text-color);
}

.footer__contacts-item:nth-child(2n) {
  margin: 9px 0 6px;
}

.footer__map-link {
  color: var(--title-accent-color);
}

.footer__title {
  font-weight: 700;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  color: var(--title-accent-color);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-social {
  margin-top: 15px;
  margin-left: 85px;
}

.footer-social__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social__item:not(:last-child) {
  margin-right: 10px;
}

.footer-social__link {
  display: inline-flex;
  padding: 12px;
  border-radius: 50%;
  color: var(--title-accent-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--animation-timer) var(--animation-cube);
}

.footer-social__link:hover, .footer-social__link:focus {
  color: var(--title-accent-color);
  background-color: var(--accent-color);
}

.footer-social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.footer-form__wrapper {
  margin-top: 15px;
  margin-left: 93px;
}

.footer-form__field {
  position: relative;
  display: inline-flex;
}

.footer-form__input {
  width: 355px;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-primary-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 15px 0 15px 16px;
  transition: background-color var(--animation-timer) var(--animation-cube);
}

.footer-form__input:hover, .footer-form__input:focus {
  background-color: var(--primary-bg-color);
}

.footer-form__input::placeholder {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__button {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  padding-right: 62px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-left: 12px;
}

.footer-form__icon {
  position: absolute;
  top: 13px;
  right: 28px;
}
/*# sourceMappingURL=main.css.map */