.advantages {
	// .advantages__items

	&__items {
		margin: 0 -15px;
		@media screen and(min-width:768px) {
			display: flex;
			flex-wrap: wrap;
			margin-top: -30px;
			margin-left: -30px;
		}
	}

	// .advantages__item

	&__item {
		width: 100%;
		padding: 0 15px;
		margin-bottom: 30px;
		@media screen and (min-width: 768px) {
			width: 354px;
			margin-top: 30px;
			margin-left: 30px;
			margin-bottom: 0;
		}
    @media screen and (min-width: 1200px) {
      width: 270px;
    }
	}

	// .advantages__img

	&__img {
		height: 120px;
		margin-bottom: 30px;
		border-radius: 4px;

		@include flc(flex, center, center);
		flex-basis: 270px;
		background-color: var(--secondary-bg-color);
		background-position: center;
	}

	// .advantages__item-title

	&__item-title {
		font-weight: 700;
		line-height: calc(16 / 14);
		letter-spacing: 0.03em;
		color: var(--title-primary-color);
		text-transform: uppercase;
		margin-bottom: 10px;
		@media screen and (max-width: 767px) {
			text-align: center;
		}
	}

	// .advantages__item-text

	&__item-text {
		line-height: inherit;
		letter-spacing: 0.03em;
	}
}
