.clients {
	// .clients__items

	&__items {
		display: flex;
		flex-wrap: wrap;
		margin-left: calc(-1 * var(--card-gap));
		margin-top: calc(-1 * var(--card-gap));
	}

	// .clients__item

	&__item {
		@include flex-card(2);

		@media screen and (min-width: 768px) {
			@include flexb-card(3);
		}
		@media screen and (min-width: 1200px) {
			@include flexb-card(6);
		}
	}

	// .clients__link

	&__link {
		display: flex;
		justify-content: center;
		padding: 14px 0;
		color: #afb1b8;
		border: 1px solid #afb1b8;
		border-radius: 4px;
		transition: color var(--animation-timer) var(--animation-cube),
			border-color var(--animation-timer) var(--animation-cube);
		&:hover,
		&:focus {
			border-color: var(--accent-color);
		}
	}
	// .clients__logo

	&__logo {
		fill: currentColor;
	}
}
