.header {
	outline: 1px solid #ececec;
	// .header__container

	&__container {
			display: flex;
			align-items: center;
		@media screen and (max-width: 767px) {
		}
	}

	// .header__logo

	&__logo {
    @media screen and (max-width:767px) {
      padding: 16px 0;
    }
		@media screen and (max-width: 1199px) {
			@include font(24px, 28px, 0.03em);
		}
	}

	// .header__logo_accent

	&__logo_accent {
		color: #000000;
	}

	// .header__contacts-items

	&__contacts-items {
		@extend %dmin;
		@media screen and (min-width: 768px) {
			display: flex;
			margin-left: auto;
		}
		@media screen and (min-width: 768px) and(max-width:1199px) {
			flex-direction: column;
			padding: 16px 0;
		}
	}

	// .header__contacts-item

	&__contacts-item {
		@media screen and(min-width:1200px) {
			&:not(:last-child) {
				margin-right: 30px;
			}
		}
	}

	// .header__contacts-link

	&__contacts-link {
		font-weight: 500;
		line-height: (16 / 14);
		letter-spacing: 0.02em;
		@media screen and (min-width: 768px) {
			display: inline-flex;
			padding: 5px 0;
			align-items: center;
		}
		@media screen and (min-width: 1200px) {
			padding: 32px 0;
		}
	}

	// .header__contact-icon

	&__contact-icon {
		fill: currentColor;
		margin-right: 8px;
		@media screen and (min-width: 1200px) {
			margin-right: 10px;
		}
	}
}

.header-nav {
	@extend %dmin;
	@media screen and (min-width: 768px) {
		margin-left: 88px;
	}
	@media screen and (min-width: 1200px) {
		margin-left: 95px;
	}

	// .header-nav__items

	&__items {
		@media screen and (min-width: 768px) {
			display: flex;
		}
	}

	// .header-nav__item

	&__item {
		&:not(:last-child) {
			margin-right: 50px;
		}
	}
	// .header-nav__link

	&__link {
		font-weight: 500;
		line-height: (16 / 14);

		color: var(--title-primary-color);

		padding: 32px 0;
	}

	// .header-nav__link_current

	&__link_current {
		position: relative;
		color: var(--accent-color);
		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;

			width: 100%;
			height: 4px;
			border-radius: 2px;

			background-color: var(--accent-color);
		}
	}
}
