@mixin flc($type, $ai, $jc) {
	display: $type;
	align-items: $ai;
	justify-content: $jc;
}

@mixin font($fz, $lh, $ls) {
	font-size: $fz;
	line-height: $lh / $fz;
	letter-spacing: $ls;
}


@mixin flex-card($nc) {
	flex-basis: calc(100% / #{$nc} - var(--card-gap));
	margin-left: var(--card-gap);
	margin-top: var(--card-gap);
}

@mixin flexb-card($ncb) {
	flex-basis: calc(100% / #{$ncb} - var(--card-gap));
}

@mixin bg-im($path){
  background-image: linear-gradient(
			to bottom,
			rgba(47, 48, 58, 0.4),
			rgba(47, 48, 58, 0.4)
		),
		$path;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}