:root {
	--primary-bg-color: #ffffff;
	--secondary-bg-color: #f5f4fa;
	--title-primary-color: #212121;
	--title-accent-color: #ffffff;
	--text-primary-color: #757575;
	--accent-color: #2196f3;
	--address-text-color: #ffffff99;
	--footer-bg-color: #2f303a;
	--hover-btn-color: #188ce8;

	--card-gap: 30px;

	--animation-cube: cubic-bezier(0.4, 0, 0.2, 1);
	--animation-timer: 250ms;
}